{% extends 'common/base.html' %}
{% block content %}
    {% for post in pages %}
        <div class="post">
            <div class="date">
                {{ post.reptdc_div }}
            </div>
            <h1><a href="{% url 'insp_detail' reptdc_no=post.reptdc_no mba_cd=post.mba_cd %}">{{ post.mba_cd }}</a></h1>
            <p>{{ post.strt_dt }}</p>
            <p>{{ post.reptdc_no }}</p>
        </div>
    {% endfor %}
    
    {% if pages.has_previous %}
    	<a href="?page=1">맨 앞으로</a>
    	<a href="?page={{pages.previous_page_number}}">이전으로</a>
    {% endif %}
    
    {% for i in p_range %}
	    <span>
	    	{% if pages.number != i %}
	    		<a href="?page={{i}}" >{{ i }}</a>
	    	{% else %}
	    		{{ i }}
	    	{% endif %}
	    </span>
    {% endfor %}
    
    {% if pages.has_next %}
    	<a href="?page={{pages.next_page_number}}">다음으로</a>
    	<a href="?page={{pages.paginator.num_pages}}">맨 뒤로</a>
    {% endif %}
{% endblock %}

